html {
    color: rgb(0, 0, 0);
    font-family: Optima, Segoe, "Segoe UI", Candara, Calibri, Arial, sans-serif;
    background-color: rgb(238, 241, 255);
}
header {
    text-align: center;
    color: rgb(0, 0, 0);
}
body {
    text-align: center;
}
footer {
    position: absolute;
    bottom: 0;
    height: 100px;
    width: 100%;
    text-align: center;
}
h1 {
    font-weight: bold;
}
nav {
    position: relative;
    font-size: 15px;
}
a {
    text-decoration: none;
}
p {
    padding: 10vmax;
    text-align: center;
}