html {
    color: rgb(0, 0, 0);
    font-family: "Oxygen", sans-serif;
    background-color: rgb(255, 255, 255);
}
header {
    text-align: center;
    color: rgb(0, 0, 0);
}
body {
    text-align: center;
}
footer {
    position: fixed;
    bottom: 0;
    height: 50px;
    width: 100%;
    text-align: center;
}
footer li {
    color: rgb(30,94,130);
    padding: 15 px;
}
h1 {
    height: 30px;
    width: 100%;
    font-weight: bold;
    font-size: 35px;
}
nav {
    position: relative;
    font-size: 15px;
}
nav li {
    color: rgb(30,94,130);
    padding: 15 px;
}
a {
    text-decoration: none;
}
p {
    text-align: center;
}