html {
    color: rgb(0, 0, 0);
    font-family: Optima, sans-serif; 
    background-color: rgb(220, 230, 255);
}
header {
    text-align: center;
    color: rgb(0, 0, 0);
}
body {
    padding: 15%;
    min-height: 100%;
    width: 100%;
    text-align: center;
}
footer {
    text-align: center;
}
h1 {
    height: 50%;
    font-weight: bold;
}
nav {
    position: sticky;
    font-size: 15px;
}
a {
    text-decoration: none;
}
p {
    text-align: center;
}
