html {
    color: rgb(0, 0, 0);
    font-family: Oxygen, sans-serif;
    background-color: rgb(255, 255, 255);
    overflow-x: hidden;
}
header {
    text-align: center;
    color: rgb(38, 51, 61);
}
body {
    text-align: center;
}
footer {
    position: fixed;
    bottom: 0;
    height: 50px;
    width: 100%;
    text-align: center;
}
h1 {
    padding-top: 15vmax;
    height: 50px;
    width: 100%;
    font-weight: bold;
    font-size: 50px;
}
nav {
    position: relative;
    font-size: 15px;
}
a {
    text-decoration: none;
}
p {
    text-align: center;
    font-size: 20px;
    color: rgb(141,17,15);
}
