h1 {
    padding-top: 40vh;
    height: 50px;
    width: 100%;
    font-weight: bold;
    font-size: 50px;
    color: rgb(26,43,53);
}
p {
    text-align: center;
    font-size: 20px;
    color: rgb(141,17,15);
}
