h1 {
    height: 30px;
    width: 100%;
    font-weight: bold;
    font-size: 35px;
    color: rgb(26,43,53);
}
p {
    text-align: center;
    padding-top: 5%;
}
a.contact {
    padding: 20px;
    text-decoration: none;
    color: rgb(141,17,15);
}
a.contact:hover {
    color: rgb(26,43,53);
    background-color: rgb(249,241,239)
}