* {
    margin: 0;
    padding: 0;
    font-family: "Oxygen", sans-serif;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
/* ---------- projects --------- */
header {
    width: 100%;
    height: 100vh;
}
header h1 {
    margin-top: 5%;
    text-align: center;
    font-size: 40px;
    color: #254257;
}
body {
    background: #fffefd;
    text-align: center;
    height: 100vh;
}
p {
    margin-top: 1%;
    font-size: 20px;
    color: #9e8059;
}
.container {
    padding: 10px 5%;
}
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    position: fixed;
}
nav ul li {
    display: inline-block;
    list-style: none; 
    margin: 10px 20px;
}
nav ul li a {
    color: #567d92;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}
nav ul li a::after {
    content: '';
    width: 0;
    height: 3px;
    position: absolute;
    left: 0;
    bottom: -6px;
    background: #c3b39c;
    transition: 0.5s;
}
nav ul li a:hover::after {
    width: 100%;
}
nav .fa {
    display: none;
}
.projects-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(275px, 1fr));
    grid-gap: 30px;
    margin-top: 20px;
    margin-bottom: 70px;
}
.projects-list .project {
    margin-top: 10%;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
}
.project img {
    width: 100%;
    border-radius: 5px;
    display: block;
    transition: transform 0.5s;
}
.projects-list .layer {
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(255,255,255,1), #f3ede1);
    border-radius: 5px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    transition: height 0.5s;
}
.layer h2 {
    font-size: 25px;
    font-weight: 500;
    text-align: left;
    color: #254257;
    margin-bottom: 15px;
}
.layer p {
    font-size: 17px;
    font-weight: 300;
    text-align: left;
    color: #254257;
    margin-bottom: 15px;
}
.layer a {
    font-size: 17px;
    color: #9e8059;
    text-decoration: none;
    margin-top: 15px;
    display: inline-block
}
.project:hover img {
    transform: scale(1.05);
}
.project:hover .layer {
    height: 100%;
}

@media only screen and (max-width: 600px) {
    header h1 {
        margin-top: 15%;
        font-size: 35px;
    }
    nav .fa {
        display: block;
        font-size: 25px;
    }
    nav ul {
        background: #f3ede1;
        position: fixed;
        top: 0;
        left: -125px;
        width: 125px;
        height: 100vh;
        padding-top: 10px;
        z-index: 2;
        transition: left 0.4s;
    }
    nav ul .fa {
        position: fixed;
        margin-left: 15px;
    }
    nav ul .top-li {
        margin-top: 40px;
    }
    nav ul li {
        display: block;
        margin: 20px; 
    }
    .projects-list {
        grid-gap: 5px;
        margin-top: 20px;
    }
    .layer h2 {
        font-size: 20px;
        margin-bottom: 10px;
    }
    .layer p {
        font-size: 15px;
        margin-bottom: 5px;
    }
    .layer a {
        font-size: 15px;
        margin-top: 5px;
    }
}